{% extends 'base.html'%}
{% block title %}
    Weather
{% endblock %}

{% block content %}
    <br>
    <center class="container">
        <form method="post" class="col-md-6 col-md-offset-3">
            <div class="input-group">
                <input type="text" class="form-control" name="zipcode" placeholder="Enter a zipcode!">
                <div class="input-group-btn">
                    <button class="btn btn-outline btn-info" type="submit">
                        <i class="glyphicon glyphicon-search">Search</i>
                    </button>
                </div>
            </div>
        </form>
    </center>
    <br>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h3>Country: {{data.country_code}}</h3>
            <h5>City : {{data.cityname}}</h5>
            <h5>Coordinate : {{data.coordinate}}</h5>
            <h5>Weather : {{data.weather}}</h5>
            <h5>Temperature : {{data.temp_far}}</h5>
            <h5>Pressure : {{data.pressure}} </h5>
            <h5>Humidity : {{data.humidity}}</h5>
        </div>
    </div>

{% endblock %}